* {
  font-family: sans-serif;
}

.bodychild{
  flex: 1 0 auto;
  border: 1px solid orange;
  padding: 0.5em;
  border-radius: 6px;
}

html{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body{
  padding: 1em;
  display: flex;
  font-size: 14pt;
  /* flex attributes */
  gap: 1em;
  flex-wrap: wrap;
}

#chart-container{
  border: 1px solid red;
  max-width: 1000px;
}

#chart{
  width: 100%;
  height: 500px;
}